<div class="card-body px-0 pb-2">
  <div class="table-responsive">
    <ng-container *ngIf="tasks &&tasks.length>0;else error">
      <table [dataSource]="dataSource" mat-table matSort>


        <ng-container matColumnDef="color">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let task" [style.background-color]="getPriorityColor(task)"
              mat-cell></td>
        </ng-container>


        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell>#</th>
          <td *matCellDef="let index = index;" mat-cell>
            {{index + 1}}

          </td>
        </ng-container>


        <ng-container matColumnDef="title">
          <th style="text-align: center" *matHeaderCellDef mat-header-cell mat-sort-header> Название</th>
          <td class="color-title" *matCellDef="let task" [class.completed]="task.completed" mat-cell
              (click)="openEditTaskDialog(task)"
          >

            {{task.title}}

          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Срок</th>
          <td *matCellDef="let task" [ngClass]="{'completed': task.completed, 'nodate': task.date == null}"
              mat-cell>

            {{task.date | taskDate:"medium"}}

          </td>
        </ng-container>


        <ng-container matColumnDef="priority">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Приоритет</th>
          <td *matCellDef="let task"
              [ngClass]="{'completed': task.completed, 'nopriority': task.priority == null}"
              mat-cell
          >

            {{task.priority ? task.priority.title : "Без приоритета"}}


          </td>
        </ng-container>

        !--категория-->
        <ng-container matColumnDef="category">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Категория</th>
          <td *matCellDef="let task"
              [ngClass]="{'completed': task.completed, 'nocategory': task.category == null, 'link': !task.completed && task.category}"
              mat-cell
          >
            <a href="#"
               (click)=" !task.completed && task.category &&  onSelectCategory(task)">  {{task.category ? task.category.title : "Без категории"}}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="operations">
          <th *matHeaderCellDef></th>
          <td class="col-operations" mat-cell *matCellDef="let task" [class.completed]="task.completed">
            <button mat-icon-button (click)="openDeleteDialog(task)"
                    class="delete-icon">
              <mat-icon aria-hidden="false">delete</mat-icon>
            </button>
            <button mat-icon-button (click)="openEditTaskDialog(task)"
                    class="edit-icon">
              <mat-icon aria-hidden="false">edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef></th>
          <td class="col-select text-right" mat-cell *matCellDef="let task">
            <mat-checkbox
              (change)="$event ? onToggleStatus(task):null"
              (click)="$event.stopPropagation()"
              [checked]="task.completed"
            >

            </mat-checkbox>
          </td>
        </ng-container>


        <!--  заголовок таблицы-->
        <tr *matHeaderRowDef="displayedColumns; " mat-header-row></tr>

        <!--  строки таблицы - набор строк из тегов td (порядок указывается в переменной displayedColumns) -->
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      </table>
    </ng-container>

    <mat-paginator [pageSizeOptions]="[10,20,40,60]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<ng-template #error>
  <p style="text-align: center; color: #6f42c1; margin-top: 20px; font-size: 30px">Нет данных</p>

</ng-template>



