.inp {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.completed {
  text-decoration: line-through;
  color: #646c77;
}
.without td{
  color: #bec0c5;
}
.color-title{
  text-align: center;
}
