<mat-dialog-content>
  <p mat-dialog-title style="text-align: center">{{dialogTitle}}</p>
  <mat-form-field style="margin: 0 auto; display: block">
    <mat-label>Категория</mat-label>
    <input matInput
           class="widi"
           #inputElement
           [(ngModel)]="categoryTitle">
    <button mat-button matSuffix aria-label="Clear" *ngIf="categoryTitle.trim().length > 0"
            (click)="categoryTitle = '' ">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex">
    <button

      mat-raised-button color="primary"
      (click)="onConfirm()"
      [disabled]="inputElement.value.trim().length == 0"
    >
      Сохранить
    </button>
    <button mat-raised-button (click)="onCancel()">Отмена</button>
    <button
      mat-button
      class="red"
      (click)="delete()"
    >Удалить
    </button>
  </div>

</mat-dialog-actions>
